/SweeetsStore/.idea/
/SweeetsStore/app/__pycache__/
/SweeetsStore/venve/
/SweeetsStore/requirements.txt
/SweetsStore/migrations/script.py.mako
/SweetsStore/migrations/README
/SweetsStore/migrations/script.py.mako
/SweetsStore/migrations/alembic.ini
/SweetsStore/migrations/__pycache__/
/SweetsStore/migrations/versions/


/SweetStoreFE/node_modules/
/SweetStoreFE/package.json
/SweetStoreFE/package-lock.json
/SweetStoreFE/README.md
